nav a {
    display: block;
    background: olive;
    padding: 10px;
    width: 30px;
    height: 100px;
    margin-bottom: 10px;
    border: 3px solid green;
}

nav a:last-child {
    margin-bottom: 0px;
}